//- Button
mixin button(type, value)
  button.btn(class=type, type="button", name="button")= value

//- Socials
mixin socials(...socials)
  ul.header__social
    each social in socials
      li.header__social__item(class=social.name.toLowerCase())
        a.header__social__link(href=social.link)
          img.header__social__icon(src=social.name.toLowerCase() + ".svg", alt=social.name, width='15', height='15')

//- Card
mixin card(card)
  .card(itemscope, itemtype="https://schema.org/Property")
    .card__head
      .card__figure(aria-label=card.title + "card icon")
        img.card__image(src=card.icon itemprop="img" alt=card.title width="52" height="52")
      h4.card__title= card.title

    p.text-regular.card__body(itemprop="description")= card.description || 'Lorem ipsum sit amet, consectetur adipiscing elit maecenas nibh.'

mixin text-result(score)
  - var s = 50-score
  #s
    if s > 0
      h3 Oh no! It seems you have a really <span style="color:#ea7575">bad</span> carbon emission.
    else if (s >= -10 && s <= 10)
      h3 You're in the norm! You have an <span style="color:#EABB75">average</span> carbon emission.
    else
      h3 Congratulation! You have a <span style="color:#3EC865">good</span> carbon emission.
    h4!= `According to our statistics you're emitting <span style="background-color:${s<0?'#3EC865':s>0?'#ea7575':'#EABB75'}">${s<0?s*-1+'%':s>0?s+'%':''}</span> ${s<0?'less':s>0?'more':'the same'} than the average user.`